[submodule "notify"]
	path = notify
	url = git@github.com:smartsleepku/notify.git
[submodule "proxy"]
	path = proxy
	url = git@github.com:smartsleepku/proxy.git
[submodule "activity"]
	path = activity
	url = git@github.com:smartsleepku/activity.git
[submodule "auth"]
	path = auth
	url = git@github.com:smartsleepku/auth.git
[submodule "limesurvey"]
	path = limesurvey
	url = git@github.com:smartsleepku/limesurvey.git
