export BASE_DIR=/home/smartsleep
export LIMESURVEY_SURVEY_ID=111111
export REPORT_USER=1000
export DJANGO_DEBUG=True
export CSV_DL_URL=http://localhost:8082/reports/
export REDIS_PASS=sEcUrE_pAss
export CELERY_BACKEND=redis://root:sEcUrE_pAss@admin-redis:6379