{
  "project_info": {
    "project_number": "<PROJECT_NUMBER>",
    "firebase_url": "<FIREBASE_URL>",
    "project_id": "<PROJECT_ID>",
    "storage_bucket": "<STORAGE_BUCKET>"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "<APP_ID>",
        "android_client_info": {
          "package_name": "dk.ku.sund.smartsleep"
        }
      },
      "oauth_client": [
        {
          "client_id": "<CLIENT_ID>",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "<CURRENT_KEY>"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "<CLIENT_ID>",
              "client_type": 3
            },
            {
              "client_id": "<CLIENT_ID>",
              "client_type": 2,
              "ios_info": {
                "bundle_id": "dk.ku.sund-smartsleep.SmartSleep"
              }
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
